@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: Roboto;
}

::-webkit-scrollbar{
  background: transparent;
  width: 0;
}

#content {
  margin-top: 100px;
}

body{
  background-color: black;
}

#background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px);
}

#background{
  background: no-repeat center center fixed; 
  background-image: url("../img/wallpaper.jpg"); 
  background-size: cover;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1000000;
}