header{
  width: 100%;
  height: 50px;
  background-color: #4F4F4F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  z-index: 2147483647;
  user-select: none;
  -webkit-app-region: drag;
}

header *{
  -webkit-app-region: no-drag;
  -webkit-user-drag: none; 
  text-decoration: none;
}

.right, .right *{
  height: 100%;
  display: flex;
  align-items: center;
}

#headerNav{
  z-index: 1000;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

#nav {
  color: gray;
}

#nav:hover {
  color: lightgray;
}

.nav-dropdown .dropdown-menu {
  background-color: #333333;
  width: 100px;
}

.header_profile_nav{
  height: 100%;
  width: fit-content;
  flex-direction: row;
  gap: 20px;
}

.dropdown {
  font-size: 22px;
}

.header_username{
  font-size: 20px;
}

.header_picture{
  height: 100%;
}

.clickable{
  color: gray;
  cursor: pointer;
  font-style: normal;
  font-size: 22px;
}

.clickable:hover{
  color: lightgray;
}

.clickable.active{
  color:white;
}

.active_picture{
  color:white;
  box-shadow: 0 0 1px 2px#fff;
}