.navbar{
  padding-inline: 20px;
}

.header_picture{
  height: 30px;
  margin: auto;
}

.header-clickable{
  text-decoration: none;
  color: white;
}

.dark-mode {
  background-color: #1a1919;
  transition: background-color 0.25s ease-in-out;
}

.light-mode {
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,156,1,1) 20%, rgba(255,251,0,1) 35%, rgba(0,255,4,1) 50%, rgba(0,212,255,1) 65%, rgba(0,5,255,1) 80%, rgba(158,0,255,1) 100%);
  transition: background-color 0.25s ease-in-out;
}

.centered{
  display: flex;
  align-items: center;
  margin-block: auto;
}

.navdropdown-header, .dropdown-toggle, .navdropdown-header *{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.dropdown-toggle *{
  margin-inline: 5px;
}

.dropdown-menu {
  background-color: #333333;
}
.dropdown-menu .dropdown-item {
  color: white;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #7c7c7c;
}
.dropdown-menu .dropdown-divider {
  margin: .5rem 0;
  border-top: 1px solid rgba(255,255,255,.15);
}

.arrowNav *{
  transition: all 0.1s;
  height: 25px;
  width: 25px;
  filter: brightness(50%);
}

.arrowNav img:hover{
  filter: brightness(80%);
}

.arrowNav img:active, img:focus{
  filter: brightness(100%);
}

.active, .nav-link:focus{
  color:white;
}

.inactive, .nav-link{
  color: gray;
}

.active:hover, .inactive:hover, .nav-link:hover{
  color: lightgray;
}

