/* header{
  width: 100%;
  height: 50px;
  display: flex;
   background-color: #333; 
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  z-index: 2147483647;
  user-select: none;
  -webkit-app-region: drag;
}

header *{
  -webkit-app-region: no-drag;
  -webkit-user-drag: none; 
  text-decoration: none;
}

.right, .right *{
  height: 100%;
  display: flex;
  align-items: center;
}

#headerNav{
  z-index: 1000;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

#nav {
  color: gray;
}

#nav:hover {
  color: lightgray;
}

.nav-dropdown .dropdown-menu {
  background-color: #333333;
  width: 100px;
}

.header_profile_nav{
  height: 100%;
  width: fit-content;
  flex-direction: row;
  gap: 20px;
}

.dropdown {
  font-size: 22px;
}

.header_username{
  font-size: 20px;
}



.clickable{
  color: gray;
  cursor: pointer;
  font-style: normal;
  font-size: 22px;
}

.clickable:hover{
  color: lightgray;
}

.clickable.active{
  color:white;
}

.active_picture{
  color:white;
  box-shadow: 0 0 1px 2px#fff;
}

.dark-mode {
  background-color: #1a1919;
  transition: background-color 0.25s ease-in-out;
}

.light-mode {
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,156,1,1) 20%, rgba(255,251,0,1) 35%, rgba(0,255,4,1) 50%, rgba(0,212,255,1) 65%, rgba(0,5,255,1) 80%, rgba(158,0,255,1) 100%);
  transition: background-color 0.25s ease-in-out;
}

.switch-color{
  margin: 15px 20px 0 0;
} */


.navbar{
  padding-inline: 20px;
}

.header_picture{
  height: 30px;
  margin: auto;
}

.header-clickable{
  text-decoration: none;
  color: white;
}

.dark-mode {
  background-color: #1a1919;
  transition: background-color 0.25s ease-in-out;
}

.light-mode {
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,156,1,1) 20%, rgba(255,251,0,1) 35%, rgba(0,255,4,1) 50%, rgba(0,212,255,1) 65%, rgba(0,5,255,1) 80%, rgba(158,0,255,1) 100%);
  transition: background-color 0.25s ease-in-out;
}


.navdropdown-header, .dropdown-toggle, .navdropdown-header *{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.dropdown-toggle *{
  margin-inline: 5px;
}

.dropdown-menu {
  background-color: #333333;
}
.dropdown-menu .dropdown-item {
  color: white;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #7c7c7c;
}
.dropdown-menu .dropdown-divider {
  margin: .5rem 0;
  border-top: 1px solid rgba(255,255,255,.15);
}