*{
  color: white;
  font-family: Roboto;
}

.profile_overview{
  width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#profile{
  width: 100%;
  height: 100%;
}

#profile_user_Picture{
    margin-inline: 30px;
    margin-top: 30px;
    max-width: 30%;
    max-height: 30%;
}

#userName {
    font-size: 100px;
    font-weight: 600;
    float: right;
    margin-right: 30%;
    margin-top: 3%;
}

#info {
    font-size: 50px;
    font-weight: 500;
    float: right;
    margin-right: 50%;
    margin-top: 5%;
}

#infoText {
    font-size: 32px;
    font-weight: 400;
    float: right;
    margin-right: 21.5%;
    margin-top: 2%;
}

#recentlyPlayed{
    width: 1000px;
    height: 100%;
    font-size: 18px;
    font-family: Roboto;
    margin:auto;
    left: 0;
    right: 0;
  }

#recent{
    font-size: 30px;
    font-weight: 400;
    margin-top: 100px;
    margin-left: 40px;
}

.profile_game_container{
  list-style-type: none;
  background-color:rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  
  height: auto;
  display: flex;
  align-items: center;
  margin: 20px 40px 20px 40px;
  cursor: pointer;
  backdrop-filter: blur(2px);
}

.profile_game_container:hover{
  background-color:rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px 2px#fff;
}

.profile_game_container img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px;
}

.profile_game_info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-inline: 20px;
}

.profile_game_title{
  font-size: 35px;
  font-weight: 700;
}

.profile_game_specific{
  display: flex;
  flex-direction: column;
}

.profile_game_specific p{
  text-align: right;
  margin-block: 5px;
  color: lightgray;
}