*{
  color: white;
  font-family: Roboto;
}

.profile_overview{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.profile{
  padding-top: 60px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(50px);
}

.profile .profile-right{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
  padding-bottom: 30px;
}

.profile .left{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 25%;
  
}

.profile .left .profile-picture{
  width: 100%;
  margin-right: 5px;
}

.profile-picture {
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile .left .seeting-icon {
  width: 20%;
  margin-bottom: 0px;
}


.profile .big{
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.profile .medium{
  font-size: 30px;
  align-self: flex-start;
}

#recentlyPlayed{
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: Roboto;
  margin:auto;
  left: 0;
  right: 0;
}

#recent{
  font-size: 30px;
  font-weight: 400;
  padding-top: 20px;
  margin-left: 40px;
}

.profile_game_container{
  list-style-type: none;
  background-color:rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  height: auto;
  display: flex;
  align-items: center;
  margin: 20px 40px 20px 40px;
}

.profile_game_container img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 10px;
}

.profile_game_info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-inline: 20px;
}

.profile_game_title{
  font-size: 18px;
  margin: auto;
}

.profile_game_specific{
display: flex;
flex-direction: column;
}

.profile_game_specific p{
text-align: right;
margin-block: 5px;
color: lightgray;
}

#recentlyPlayed{
  background-color:rgba(255, 255, 255, 0.1);
  margin-bottom: 100px;
  backdrop-filter: blur(50px);
}

.profile-right .info,
.profile-right input {
  background-color: transparent;
  font-size: 20px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  margin-bottom: 20px;
  padding: 5px;
}

.profile-right .btn{
  align-self: flex-end;
}

.profile-right .info:focus,
.profile-right input:focus {
  outline: 1px solid lightgray;
}

.profile input[type="file"] {
  display: none;
}

.fileupload {
  background-color:#198754;
  border-radius: 5px;
  padding: 6px 12px;
  margin-bottom: 20px;
}

.fileupload:hover {
  background-color: #157347;
  cursor: pointer;
}

.buttonPos {
  margin-left: 85%;
}