<<<<<<< HEAD
.register {
    width: 100%;
    align-self: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
}
.title {
    display: flex;
    align-self: center;
    font-size: 40px;
    margin-bottom: 2%;
    margin-top: 50px;
}
.handler {
    padding: 1% 10% 2% 10%;
=======
*{
  font-family: Roboto;
  }

.login{
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
>>>>>>> 469be19ce401ec1407b0f4f2d4db9ef07846bf7c
}
