.register {
    width: 100%;
    align-self: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
}
.title {
    display: block;
    align-self: center;
    font-size: 40px;
    margin-bottom: 2%;
}
.handler {
    padding: 1% 10% 2% 10%;
}
