.settings_overview {
    position: absolute;
    width: 100%;
    height: 100%; 
    /* height: 100vh; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(20px);
    gap: 5%;
  }
.settings_overview .settings-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .2);
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 100%;

  }
.settings_overview .settings-container .title {
    margin-top: 40px;
    margin-bottom: 100px;
  }
.settings-container .settings {
    width: 80%;
    height: 100%;
    margin-bottom: 20px;
    padding: 10px;
    gap: 10px;
  }
.settings-container .settings .settings-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(163, 163, 163, 0.1);
    width: 100%;
    height: 10%;
    margin-bottom: 3px;
    
}
.settings_overview .settings-container .path {
    font-size: x-large;
    text-align: left;
}
.settings_overview .settings-row input {
    width: 35%;
    text-align: center;
    height: 30px;
    color: rgb(255, 255, 255);
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: lightgray;
    font-size: 12px;
    background-color: transparent;
    padding-inline: 20px;

}
input:focus {
    color: white;
    background-color: transparent;
  }
  
  input:focus-within {
    color: white;
  }
  
  input::placeholder{
    color:lightgray;
  }
  