@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: Roboto;
}

::-webkit-scrollbar{
  background: transparent;
  width: 0;
}

body{
  background-color: black;
}



#background{
  width: 100%;
  height: 100%;
  filter: blur(10px);
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000000;
  -webkit-user-drag: none; 
}