@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
  font-family: Roboto;
}

#libraryOverview{
  margin: 30px;
  display: grid;
  cursor: default;
  justify-content: center;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fit, 240px);
}

.game_preview{
  position: relative;
  height: 300px;
  width: 200px;

  margin: 20px;

  transition: all .2s;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.50));
  cursor: pointer;
  -webkit-user-drag: none; 
}

.game_preview:hover{
  transform: scale(120%);
  box-shadow: 0 0 40px 20px#fff;
}

.game_preview:hover .gameTitle{
  opacity: 1;
  transition: all .2s;
}

.notinstalled .gamePic{
  filter:saturate(0%) blur(1px)
}

.gamePic{

  height: 100%;
  width: 100%;
  object-fit: cover;

  cursor: pointer;
  -webkit-user-drag: none; 
}

.gameTitle{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  opacity: 0;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.game_detail{
  display:flex;
  flex-direction: column;
  position: absolute;
  left: 20%;
  top: 20%;
  right: 20%;
  bottom: 20%;
  z-index: 300;
  background-color: black;
}

.game_detail_pic{
  height:100%;
  object-fit: cover;
}

.game_detail:hover .game_detail_info{
  visibility: visible;
  opacity: 1;
}

.game_detail_background{
  z-index: 200;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(2px);
}

.invisible{
  visibility: hidden;
  opacity: 0;
}

.visible{
  visibility: visible;
  opacity: 1;
  transition: all 0.2s;
}

.button_nav{
  display: flex;
  justify-content: space-between;
  margin: 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  
}

.button{
  color: #fff;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 18px;
  transition: all 0.05s;
}

button:active{
  filter: brightness(50%);
  width: 196px;
  height: 46px;
  margin: 2px;
}

.button:hover{
  filter: brightness(120%);
}

button:active{
  /* TODO */
  filter: brightness(50%);
  width: 196px;
  height: 46px;
  margin: 2px;
}

.button.play{
  background-color: green;
}

.button.back{
  background-color: rgb(0, 110, 255);
}

.game_detail_info{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.game_detail_title{
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
}

.game_detail_description{
  font-size: 20px;
}